body {
  padding: 0;
  margin: 0;
  width: 80%;
  background-color: #d5edf2;
  align-items: center;
}
form {
  align-items: center;
  margin: auto;
  padding: 10px;
  width: 80%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
h2 {
  text-align: center;
}
input, label {
  width: 100%;
  padding: 10px 0 10px 0;
}
button {
  width: 100%;
  background-color: #34bdeb;
  margin-top: 10px;
  color: white;
  text-align: center;
  font-size: 27px;
  border: none;
}

@media screen and (max-width: 640px) {
  form {
    width: 100%;
  }
}




